# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log

# Environment files
.env
.env.local

# Build files
client/dist/
build/

# OS/Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
